.qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;

  &-total {
    font-weight: 600;
  }

  &-btn {
    font-size: 20px;
    padding: 5px 15px;
    width: 42px;
  }
}