@import "../../styles/utils.scss";

.cart {
  padding: 18px;

  &-items {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: $color-light-dark transparent;
    height: 75vh;
  }

  &-close {
    font-size: 28px;
    stroke-width: 1.3px;
    cursor: pointer;
  }

  &-options {
    padding: 15px 20px;

    &__total {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      margin-bottom: 10px;
    }

    &__buttons {
      display: flex;
    }

    &__checkout-btn {
      margin-left: 20px;
      flex: 1;
    }

    &__checkout-arrow {
      margin-left: 10px;
      padding-top: 4px;
    }

    &__empty {
      position: absolute;
      top: 38%;
      right: 50%;
      transform: translateX(50%);
      height: 100px;
      width: 100px;
      opacity: 0.05;
    }
  }
}
