@import "../../utils/styles/mixins.scss";
@import "../../utils/styles/vars.scss";

.products {
  @include onLargeDesktop {
    display: flex;
  }

  &-category {
    display: none;
    margin-right: 28px;
    margin-top: 34px;

    @include onLargeDesktop {
      display: block;
    }
  }

  &-result {
    margin-top: 100px;

    @include onLargeDesktop {
      margin-top: 40px;
    }

    &__title {
      font-size: 18px;
      font-weight: 500;
      color: $color-light;
      text-transform: uppercase;
      margin-bottom: 7px;
      text-align: center;

      @include onSmallTablet {
        text-align: left;
      }
    }

    &__cameras {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 28px;

      @include onSmallTablet {
        grid-template-columns: 1fr 1fr;
      }

      @include onDesktop {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}
