@import "../../styles/utils.scss";

.product-slider {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 2rem;
    color: $color-accent;
    padding: 2rem;
    width: 200px;
  }

  .swiper-pagination-bullet {
    background: $color-accent;
  }
}
