$font-text: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$transition-time: 0.3s;

$color-light: rgba(255, 255, 255, 0.87);
$color-light-dark: #242424;
$color-accent: #f6cd46;
$background-image: linear-gradient(to top, #1f2126, #33363d);
$color-dark: #1a1a1a;
