@import "../../utils/styles/mixins.scss";
@import "../../utils/styles/vars.scss";

.hero {
  margin-bottom: 30px;
  padding-top: 30px;

  &-container {
    display: flex;
    flex-direction: column;

    @include onTablet {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &-nav {
    display: none;

    @include onLargeDesktop {
      display: block;
      margin-right: 28px;
    }
  }
}
