button {
  font-family: inherit;
  font-size: 1em;
  font-weight: 600;
  color: $color-dark;
  background-color: $color-accent;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  box-shadow: inset 1px 1px 4px $color-light-dark;
}

button:active {
  scale: 0.97;
}

.btn-disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
