a {
  color: $color-light;
  font-weight: 500;
  text-decoration: inherit;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

a:hover {
  border-color: $color-accent;
  color: $color-accent;
}
