@import "../../styles/utils.scss";
@import "../../styles/animations/shake.scss";

.search {
  &-form {
    position: relative;

    &.shake {
      animation: shake 0.2s;
    }

    @include onTablet {
      width: 300px;
    }

    @include onDesktop {
      width: 450px;
    }

    @include onLargeDesktop {
      width: 500px;
    }
  }

  &-btn {
    position: absolute;
    right: 0;
    padding: 8px 25px;
    border-radius: 0 8px 8px 0;
  }
}
