@import "../../utils/styles/vars.scss";
@import "../../utils/styles/mixins.scss";

.mobile-menu {
  display: block;
  padding: 20px;

  // i can hide just the menu icon btn
  // @include onLargeDesktop {
  //   display: none;
  // }

  &__fix {
    font-size: 28px;
    stroke-width: 1.3px;

    &-container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }
}
