@import "../../utils/styles/vars.scss";
@import "../../utils/styles/mixins.scss";

.mobile-menu {
  display: block;
  padding: 20px;
  max-width: 350px;
  margin: 0 auto;

  &__fix {
    font-size: 28px;
    stroke-width: 1.3px;

    &-container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }

  &__search {
    display: block;
    margin-bottom: 20px;

    @include onTablet {
      display: none;
    }
  }
}
