@import "../../styles/utils.scss";

.main-slider {
  position: relative;
  max-width: 100%;
  height: 460px;
  border-radius: 8px;
  background: $background-image-right;
  margin-bottom: 28px;

  @include onTablet {
    max-width: 456px;
    margin-right: 28px;
  }

  @include onDesktop {
    max-width: 580px;
    margin-right: 28px;
  }

  @include onLargeDesktop {
    max-width: 575px;
    margin-right: 28px;
  }

  &__info {
    font-size: 14px;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;

    @include onLargeMobile {
      text-align: left;
      margin-top: 25px;
      margin-left: 25px;
    }

    @include onSmallTablet {
      text-align: left;
      margin-top: 25px;
      margin-left: 25px;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 400;
  }

  &__text {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -8px;
  }

  &__link-btn {
    position: absolute;
    margin-top: 150px;
    z-index: 1;


    @include onLargeMobile {
      margin-top: 50px;
    }

    @include onDesktop {
      margin-top: 65px;
    }
  }

  &__camera {
    position: absolute;
    width: 80%;
    right: 18px;
    bottom: 5px;
    z-index: 0;

    @include onLargeMobile {
      right: -40px;
    }

    @include onSmallTablet {
      bottom: -10px;
    }

    @include onTablet {
      bottom: 0;
    }

    @include onDesktop {
      bottom: -10px;
    }
  }

  .swiper-pagination-bullets {
    bottom: 1.5rem;
  }

  .swiper-pagination-bullet {
    background: $color-accent;
  }
}
