@import "../../utils/styles/vars.scss";
@import "../../utils/styles/mixins.scss";

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $color-dark;
  // background-image: linear-gradient(to bottom, #1a1a1a 50%, #33363d);
  // box-shadow: 0px 0px 1px $color-accent;
  box-shadow: 0px 0.5px 0px $color-accent;
  z-index: 3;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;

    &__icon-logo {
      display: flex;
      align-items: center;
    }
  }

  &-search {
    display: none;

    @include onTablet {
      display: block;
    }

  }

  &-menu__icon {
    display: block;
    font-size: 28px;
    padding: 20px 0 15px;
    margin-right: 20px;
    cursor: pointer;

    @include onLargeDesktop {
      display: none;
    }
  }

  &-logo {
    width: 140px;
    padding-top: 6px;
    display: none;

    @include onLargeMobile {
      display: block;
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
  }

  &-avatar {
    font-size: 32px;
    height: 38px;
    margin: auto 0;
  }

  &-btn {
    font-size: 16px;
    font-weight: normal;
    color: $color-light;
    background: transparent;
    border: 0.1px solid $color-accent;
    padding: 5px 12px;
  }

  &-bag {
    cursor: pointer;
    font-size: 24px;
    height: 30px;
    margin: auto 0;
  }

  &-cart,
  &-menu__mobile {
    position: absolute;
    top: 65px;
    width: 0;
    max-width: 500px;
    height: 100vh;
    background: $color-dark;
    box-shadow: 0 0 1px $color-accent;
    border-radius: 8px;
    transition: all 0.7s;
    z-index: 2;
    overflow: hidden;
  }

  &-cart {
    right: 0;
  }

  &-menu__mobile {
    // top: 0;
    left: 0;
  }

  &-menu__mobile.show,
  &-cart.show {
    width: 100%;
  }
}
