@import "../../styles/utils.scss";

.footer {
  text-align: center;
  background: $color-dark;
  padding-top: 50px;
  margin-top: 28px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 330px;

    @include onSmallTablet {
      height: 300px;
    }
  }

  &-title {
    min-width: 330px;
    margin-bottom: 10px;
  }

  &-description {
    min-width: 320px;
    opacity: 0.7;
  }

  &-form {
    position: relative;
    width: 100%;

    @include onSmallTablet {
      width: 350px;
    }

    &.shake {
      animation: shake 0.2s;
    }

    &__input {
      font-size: 14px;
      width: 100%;
      padding: 10px 15px;
      background: $color-light;
      border-radius: 8px;
      border: none;
      outline: none;
    }

    &__btn {
      position: absolute;
      right: 0;
      padding: 8px 25px;
      border-radius: 0 8px 8px 0;
    }
  }

  &-policy {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 320px;

    &__link {
      opacity: 0.7;
      border-bottom: none;
      
      &:hover {
        color: $color-light;
        opacity: 1;
      }
    }
  }

  &-social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 60px;

    &__link {
      border-bottom: none;
    }
  }

  &-copy {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 40px 0;
    box-shadow: 0px -1.2px 0px -1px $color-accent;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-7px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
