@import "../../styles/utils.scss";

.footer {
  text-align: center;
  background: $color-dark;
  padding-top: 50px;
  margin-top: 28px;

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 400px;
  }

  &-title {
    min-width: 330px;
    margin-bottom: 10px;
  }

  &-description {
    min-width: 320px;
    opacity: 0.7;
  }

  &-policy {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 320px;

    &__link {
      opacity: 0.7;
      border-bottom: none;
      
      &:hover {
        color: $color-light;
        opacity: 1;
      }
    }
  }

  &-social {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-bottom: 60px;

    &__link {
      border-bottom: none;
    }
  }

  &-copy {
    display: flex;
    justify-content: center;
    gap: 4px;
    padding: 40px 0;
    box-shadow: 0px -1.2px 0px -1px $color-accent;
  }
}
