@import "./styles/normalize.scss";
@import "./styles/utils.scss";
@import "./styles/container.scss";
@import "./styles/link.scss";
@import "./styles/button.scss";

:root {
  font-family: $font-text;
  line-height: 1.5;
  font-weight: 400;
  color: $color-light;
  background-color: $color-light-dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0 auto;
}

main {
  margin-top: 65px;
}
